<section>
    <ul>
        <li class="active">
            <img
                (click)="handleClick(0)"
                [src]="pictures[0]"
                alt=""
                class="thumb"
            />
        </li>
        <li>
            <img
                (click)="handleClick(1)"
                [src]="pictures[1]"
                alt=""
                class="thumb"
            />
        </li>
        <li>
            <img
            (click)="handleClick(2)"
            [src]="pictures[2]"
                alt=""
                class="thumb"
            />
        </li>
    </ul>

    <span [class.hide]="" (click)="arrowPrev()" class="prev"><</span>
    <span [class.hide]="" (click)="arrowNext()"class="next">></span>

    <img
    [src]="pictures[currentIndex]"
        class="preview"
    />
</section>
<!-- src="{{ pictures[0] }}"  moze tez byc tak-->